html,
body,
#root{
    background-color:#FFD1D7;
}
h1{
    font-size: 50px;
    font-family: 'Fascinate Inline', cursive;
}
.fascinate-inline-regular {
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
}
#addTodoBtn{
    border-radius: 50px;
    background-color:#FFF4B6;
    font-family:'Fascinate Inline', cursive;
    font-size:small;
}
.labels{
    font-family: 'Fascinate Inline', cursive;
    font-size:medium;
}
#clearBtn{
    border-radius:50px;
    background-color:#FFF4B6;
    font-family:'Fascinate Inline', cursive;
    font-size:small;
}

